@import 'global/_responsive.scss';
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 106px;
  display: flex;
  align-items: flex-end;
  color: #454545;
  z-index: 5;
  @include media(tablet) {
    height: 74px;
  }
  @include media(tablet_vert) {
    height: 66px;
  }
  @include media(tel) {
    height: 80px;
    align-items: flex-start;
  }
  &.fixed {
    background-color: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    transition: .8s;
    align-items: center;
  }
  .header__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    @include media(tel) {
      flex-wrap: wrap;
      height: 100%;
      align-items: flex-start;
      padding-top: 9px;
      padding-bottom: 9px;
    }
    .header__logo {
      text-decoration: none;
      flex: 0 0 136px;
      margin-right: 70px;
      @include media(tablet) {
        flex: 0 0 97px;
      }
      @include media(tel) {
        position: absolute;
        left: 0;
        right: 0;
        margin: 32px auto 0;
        width: 90px;
      }
      .logo__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        @include media(tablet) {
          width: 97px;
        }
      }
    }
    .header__inner {
      flex: 1 0 auto;
      .header__contacts {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;
        @include media(tablet) {
          margin-bottom: 17px;
        }
        @include media(tablet_vert) {
          margin-bottom: 0;
        }
        @include media(tel) {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .header__address {
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #454545;
          margin-right: 51px;
          position: relative;
          @include media(tablet) {
            font-size: 12px;
            line-height: 14px;
          }
          @include media(tablet_vert) {
            margin-right: 38px;
          }
          @include media(tel) {
            margin: 0 0 25px 15px;
            flex: 0 0 50%;
          }
          &:before {
            content: " ";
            position: absolute;
            width: 13px;
            left: -21px;
            bottom: 4px;
            height: 16px;
            background-image: url(/wp-content/themes/balcity-ru/assets/img/contact.svg);
            background-size: contain;
            @include media(tel) {
              left: -17px;
              bottom: 1px;
            }
          }
          .address__link {
            @include media(tel) {
              display: none;
            }
            &-mobile {
              display: none;
              .red {
                color: #BE2A2A;
              }
              @include media(tel) {
                display: block;
              }
            }
          }
        }
        .header__tel {
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #454545;
          margin-right: 78px;
          border-bottom: 1px dotted #C4C4C4;
          position: relative;
          margin-bottom: 6px;
          text-decoration: none;
          @include media(tablet) {
            font-size: 12px;
            line-height: 14px;
          }
          @include media(tablet_vert) {
            margin-right: 64px;
          }
          @include media(tel) {
            margin: 0 22px 25px auto;
          }
          &:hover {
            border-bottom: 1px dotted #000;
          }
          &:before {
            content: " ";
            position: absolute;
            width: 22px;
            right: -31px;
            bottom: -2px;
            height: 22px;
            background-size: contain;
            background-image: url(/wp-content/themes/balcity-ru/assets/img/phone.svg);
            @include media(tel) {
              width: 18px;
              height: 18px;
              right: -22px;
            }
          }
        }
        .header__burger {
          width: 18px;
          height: 2px;
          background: #454545;
          cursor: pointer;
          display: none;
          position: relative;
          &:before, &:after {
            content: "";
            position: absolute;
            width: 18px;
            height: 2px;
            top: 6px;
            left: 0;
            background: #454545;
          }
          &:after {
            top: 12px;
          }
          @include media(tablet_vert) {
            display: block;
            margin-left: 31px;
          }
        }
        .header__lang {
          margin-top: -5px;
          @include media(tel) {
            flex: 0 0 50%;
          }
          ul {
            padding: 0;
            list-style: none;
            position: relative;
            .sub-menu {
              box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 4px;
              position: absolute;
              display: none;
              z-index: 2;
              &.active {
                display: flex;
                width: 40px;
                left: 0;
                background: #fff;
                flex-direction: column;
                align-items: center;
                margin: 0;
                .submenu__item {
                  width: 100%;
                  a {
                    width: 100%;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    &:hover {
                      background-color: #be2a2a;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .header__menu {
        @include media(tablet_vert) {
          transform: translateX(100%);
          display: block;
          padding: 17px 0 17px;
          position: fixed;
          width: 50%;
          height: 100vh;
          right: 0;
          top: 0;
          transition: .7s;
          background: url(/wp-content/themes/balcity-ru/assets/img/mob-menubg.svg), #A03024;

          &.active {
            transform: translateX(0);
          }
        }
        @include media(tel) {
          width: 85%;
        }
        .header__call {
          display: none;
          @include media(tablet_vert) {
            display: flex;
            margin-left: 27px;
          }
          .call__number {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            text-decoration: none;
            margin-right: 22px;
            cursor: pointer;
          }
          .call__button {
            width: 82px;
            height: 18px;
            display: flex;
            border-radius: 9px;
            background: #55A066;
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
            color: #fff;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding-left: 14px;
            position: relative;
            cursor: pointer;
            &:before {
              content: '';
              position: absolute;
              width: 18px;
              height: 18px;
              background: url(/wp-content/themes/balcity-ru/assets/img/phone.svg);
              left: 0;
              background-size: contain;
            }
          }
        }
        .menu__close {
          display: none;
          cursor: pointer;
          @include media(tablet_vert) {
            display: block;
            width: 18px;
            height: 18px;
            position: relative;
            margin: 15px 18px 21px auto;
            &:before, &:after {
              content: '';
              position: absolute;
              width: 24px;
              height: 3px;
              background-color: #fff;
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
        .menu__list {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          @include media(tablet_vert) {
            flex-direction: column;
          }
          .menu__item {
            position: relative;
            &.current > .item__link:after {
              width: 100%;
              @include media(tablet_vert) {
                width: 0;
              }
            }
            @include media(tablet_vert) {
              padding-bottom: 10px;
              padding-top: 10px;
              &.active {
                background-color: rgba(0, 0, 0, .2);
              }
            }
            &:hover > .menu__submenu {
              display: block;
              transition: .4s;
              @include media(tablet_vert) {
                display: none;
              }
            }
            &.active:before {
              @include media(tablet_vert) {
                content: '';
                position: absolute;
                width: 13px;
                height: 8px;
                background: url(/wp-content/themes/balcity-ru/assets/img/Union.svg);
                background-repeat: no-repeat;
                right: 15px;
                top: 17px;
              }
            }
            .item__link {
              color: #454545;
              font-size: 18px;
              line-height: 21px;
              font-weight: 700;
              text-decoration: none;
              position: relative;
              margin-right: 10px;
              @include media(tablet) {
                font-size: 14px;
                line-height: 16px;
              }
              @include media(tablet_vert) {
                font-weight: 300;
                font-size: 20px;
                line-height: 23px;
                color: #fff;
                width: 100%;
                display: block;
                margin-left: 27px;
              }
              &:after {
                content: "";
                position: absolute;
                left: 0px;
                width: 0;
                bottom: -4px;
                height: 4px;
                background-color: #BE2A2A;
                transition: width .3s ease-out;
                z-index: 3;
              }
              &.active:after,&.current:after {
                width: 100%;
                @include media(tablet_vert) {
                  width: 0;
                }
              }
              &:hover:after {
                width: 100%;
                @include media(tablet_vert) {
                  width: 0;
                }
              }
              &:hover ul {
                display: block;
              }
            }
            .menu__submenu {
              box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 4px;
              position: absolute;
              display: none;
              z-index: 2;
              @include media(tablet_vert) {
                display: none;
                width: 100%;
                position: relative;
                box-shadow: none;
              }
              &:hover ~ .item__menu {
                border-bottom: 4px solid #BE2A2A;
              }
              &.active {
                @include media(tablet_vert) {
                  display: block;
                }
              }
              .submenu__list {
                display: grid;
                list-style: none;
                position: relative;
                padding: 10px 0;
                &:before {
                  content: " ";
                  background-color: #fff;
                  opacity: .8;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  z-index: -1;
                  @include media(tablet_vert) {
                    background-color: inherit;
                  }
                }
                .submenu__item {
                  width: 250px;
                  .item__link {
                    font-size: 14px;
                    font-weight: 400;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 7px 20px 7px 16px;
                    @include media(tablet_vert) {
                      text-decoration: underline;
                    }
                    &:hover, &.current {
                      background-color: #BE2A2A;
                      color: #fff;
                      @include media(tablet_vert) {
                        background-color: inherit;
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}