.inner {
  background: url(/wp-content/themes/balcity-ru/assets/img/bginner.svg), url(/wp-content/themes/balcity-ru/assets/img/bginner2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 40%, 30%;
  min-height: calc(100vh - 316px);
  margin-top: 116px;
  @include media(tablet) {
    margin-top: 84px;
    background-position: -450% -150px, 450% -500px;
  }
  @include media(tablet_vert) {
    margin-top: 76px;
    min-height: calc(100vh - 338px);
    background-position: -20% -150px, 150% -100px;
    background-size: 60%;
  }
  @include media(tel) {
    margin-top: 90px;
    min-height: calc(100vh - 593px);
    background: none;
  }

  .breadcrumbs {
    height: 43px;
    background: url(/wp-content/themes/balcity-ru/assets/img/breadcrumbs.svg), #BE2A2A center no-repeat;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;

    @include media(tablet_vert) {
      display: none;
    }

    .breadcrumbs__wrapper {
      width: 100%;

      a {
        text-decoration: underline;
        color: #FFFFFF;

        &:last-child {
          text-decoration: none;
        }
      }

      span {
        margin: 0 5px;
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

  /* news */
  .news {
    padding-bottom: 90px;
    padding-top: 21px;
    @include media(tablet_vert) {
      padding-bottom: 45px;
    }
    @include media(tel) {
      padding-bottom: 25px;
    }

    .news__title {
      margin-bottom: 81px;
      @include media(tablet_vert) {
        margin-bottom: 41px;
      }
      @include media(tel) {
        margin-bottom: 21px;
      }
    }

    .news__item {
      margin-top: 43px;

      .item__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #BE2A2A;
        margin-bottom: 10px;
      }

      .item__text {
        font-size: 18px;
        line-height: 110%;
        color: #454545;
      }
    }
  }

  /* products */
  .products {
    margin-bottom: 80px;
    margin-top: 21px;

    .products__title {
      margin-bottom: 65px;
      @include media(tablet) {
        margin-bottom: 51px;
      }
      @include media(tablet_vert) {
        margin-bottom: 36px;
      }
      @include media(tel) {
        margin-bottom: 19px;
      }
    }

    .products__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      @include media(tablet_vert) {
        flex-wrap: wrap;
        margin-bottom: 0;
      }

      .products__item {
        height: 400px;
        flex: 0 0 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 57px 17px 30px 0;
        @include media(tablet) {
          flex: 0 0 337px;
          height: 337px;
        }
        @include media(tablet_vert) {
          flex: 0 0 100%;
          margin-bottom: 5px;
        }
        @include media(tel) {
          padding: 15px 18px;
          flex: 0 0 100%;
          height: 261px;
        }

        .item__title {
          font-size: 36px;
          line-height: 100%;
          color: #FFFFFF;
          text-align: right;
          max-width: 300px;
          @include media(tablet) {
            font-size: 24px;
          }
        }

        .item__link {
          display: block;
          width: 96px;
          height: 27px;
          text-decoration: none;
          background: #79C089;
          border-radius: 5px;
          display: flex;
          font-size: 14px;
          color: #ffffff;
          z-index: 2;
          position: relative;
          padding-left: 19px;
          align-items: center;
          justify-content: center;

          &:hover {
            background: #5FA870;
          }

          &:focus {
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
          }

          @include media(tablet) {
            width: 86px;
            height: 18px;
            font-size: 12px;
            padding-left: 17px;
          }

          &:before {
            content: '';
            position: absolute;
            left: 10px;
            width: 10px;
            height: 10px;
            background: url(/wp-content/themes/balcity-ru/assets/img/gonext.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @include media(tablet) {
              width: 7px;
              height: 7px;
            }
          }
        }

        &.auto-tanks, &.gazgolder, &.loader {
          flex: 1 0 auto;
          @include media(tel) {
            flex: 0 0 100%;
          }
        }

        &.tanks {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/tanks-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/tanks-logo.png), #415560;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tel) {
            background-size: cover, 40%;
          }
        }

        &.auto-tanks {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/auto-tanks-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/auto-tanks-logo.png), #79C089;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tel) {
            background-size: cover, 60%;
          }

          .item__link {
            background-color: #F5F5F5;
            color: #79C089;

            &:before {
              background: url(/wp-content/themes/balcity-ru/assets/img/products/gonext-green.svg) center/contain no-repeat;
            }
          }
        }

        &.gazgolder {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/gazgolder-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/gazgolder-logo.png), #F5F5F5;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tel) {
            background-size: cover, 80%;
          }

          .item__title {
            color: #454545;
          }
        }

        &.vent {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/vent-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/vent-logo.png), #BE2A2A;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tablet_vert) {
            background-position: left, 10% 90%;
          }
          @include media(tel) {
            background-size: cover, 40%;
          }
        }

        &.venth2o {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/venth2o-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/venth20-logo.png), #79C089;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tel) {
            background-size: cover, 40%;
          }

          .item__link {
            background-color: #F5F5F5;
            color: #79C089;

            &:before {
              background: url(/wp-content/themes/balcity-ru/assets/img/products/gonext-green.svg) center/contain no-repeat;
            }
          }
        }

        &.loader {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/loader-bg.png), url(/wp-content/themes/balcity-ru/assets/img/products/loader-logo.png), #415560;
          background-repeat: no-repeat;
          background-position: center, 10% 90%;
          @include media(tel) {
            background-size: cover, 80%;
          }
        }

        &.other {
          background: url(/wp-content/themes/balcity-ru/assets/img/products/other.png), #F5F5F5;
          background-repeat: no-repeat;
          background-position: 10% 90%;
          @include media(tel) {
            background-size: 60%;
          }

          .item__title {
            color: #454545;
          }
        }
      }
    }
  }

  /* gallery */
  .gallery__title {
    margin: 21px 0 63px 0;
  }

  .gallery__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include media(tablet) {
      height: 500px;
    }
    @include media(tablet_vert) {
      height: 338px;
    }
    @include media(tel) {
      height: 375px;
    }
    img {
      display: block;
      max-width: 100%;
      width: auto!important;
      float: left;
    }
    //.gallery__row {
    //  display: flex;
    //
    //  &:nth-child(odd) {
    //    flex-direction: row-reverse;
    //    justify-content: space-between;
    //  }
    //
    //  .gallery__item {
    //    flex: 0 0 400px;
    //
    //    &:nth-child(2) {
    //      flex: 0 0 auto;
    //    }
    //  }
    //}
  }

  /*catalog*/
  .catalog__title {
    margin: 21px 0 42px 0;
  }

  .autotank__menu {
    .menu__list {
      display: flex;
      padding: 0;
      @include media(tel) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .menu__item {
        margin-right: 96px;
        font-size: 24px;
        line-height: 28px;
        color: #454545;
        list-style: none;
        position: relative;
        overflow: hidden;
        padding-bottom: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        @include media(tablet) {
          margin-right: 79px;
          font-size: 22px;
          line-height: 26px;
        }
        @include media(tablet_vert) {
          margin-right: 58px;
          font-size: 18px;
          line-height: 21px;
        }
        @include media(tel) {
          margin-right: 0;
          margin-bottom: 22px;
        }

        &:before {
          content: "...............................................";
          position: absolute;
          width: 100%;
          bottom: 0px;
        }

        &.active:before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 4px;
          background: #BE2A2A;
          bottom: 0px;
        }
      }
    }
  }

  .autotank__about {
    margin-top: 25px;
    @include media(tel) {
      margin-top: 20px;
      background: #F0F0F0;
    }

    .container {
      background: #F0F0F0;
      border-radius: 8px;
      padding: 29px 0 35px 38px;
      @include media(tablet) {
        padding: 29px 0 26px 18px;
      }
      @include media(tablet_vert) {
        padding: 27px 26px 21px 21px;
      }
      @include media(tel) {
        padding: 27px 15px 44px 15px;
      }

      .about__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 110%;
        color: #454545;
        margin-bottom: 30px;
        @include media(tel) {
          margin-bottom: 20px;
        }
      }

      .about__list {
        max-width: 771px;
        @include media(tel) {
          padding: 0;
        }

        .list__item {
          color: #BE2A2A;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          position: relative;
          overflow: hidden;
          padding-left: 23px;
          margin-bottom: 30px;
          cursor: pointer;
          @include media(tel) {
            align-items: flex-end;
          }

          &:after {
            content: '........................................................................................................................................................................................................................................................................';
            position: absolute;
            bottom: 0;
          }

          &:before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 1px;
            top: 6px;
            background: #BE2A2A;
          }

          justify-content: space-between;

          .item__name, .item__val {
            font-size: 18px;
            line-height: 21px;
            background: #F0F0F0;
            color: #454545;
            z-index: 2;
            @include media(tablet) {
              font-size: 14px;
              line-height: 16px;
            }
            @include media(tel) {
              flex: 0 0 30%;
            }
          }

          .item__name {
            @include media(tel) {
              flex: 0 0 39%;
            }
          }
        }
      }

      .about__info {
        max-width: 771px;
        display: flex;
        align-items: center;
        padding-left: 23px;

        .about__img {
          margin-right: 17px;
          max-width: 100%;
          max-height: 100%;
          display: block;
        }

        .about__text {
          font-size: 18px;
          line-height: 21px;
          color: #454545;
          @include media(tablet) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .container {
    .autotank__tor, .autotank__cylindrical, .autotank__twin {
      padding: 52px 0 60px;
    }

    .catalog__item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 60px;

      &:nth-child(even) {
        .item__img {
          order: 1;
          margin: 0 0 0 20px;
          @include media(tablet_vert) {
            flex-direction: row;
            flex-wrap: nowrap;
            order: 0;
            margin: 0;
          }
          @include media(tel) {
            flex-direction: column;
            flex: 0 0 100%;
          }
        }
      }

      .item__title {
        margin-bottom: 60px;
        flex: 0 0 100%;
        @include media(tablet) {
          margin-bottom: 40px;
        }
        @include media(tel) {
          margin-bottom: 30px;
        }
      }

      .item__text {
        flex: 1 0 auto;
        max-width: 565px;
        @include media(tablet) {
          max-width: 470px;
        }
        @include media(tablet_vert) {
          margin-top: 20px;
          flex: 0 0 100%;
          max-width: 736px;
          text-align: center;
        }

        a {
          font-size: 14px;
          line-height: 200%;
          text-decoration-line: underline;

          &[href*="sertifikaty"] {
            color: #BE2A2A;
            position: relative;
            padding-left: 41px;
            margin-bottom: 12px;
            display: block;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              background: url(/wp-content/themes/balcity-ru/assets/img/oonc.svg);
              width: 30px;
              height: 30px;
              background-repeat: no-repeat;
              background-size: contain;
            }

          }

          &[href*="cert"] {
            color: #BE2A2A;
            position: relative;
            padding-left: 42px;
            margin-bottom: 12px;
            display: block;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              background: url(/wp-content/themes/balcity-ru/assets/img/ts.svg);
              width: 31px;
              height: 25px;
              background-repeat: no-repeat;
              background-size: contain;
            }

          }
        }
      }

      .item__img {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        flex: 0 0 48%;
        @include media(tablet_vert) {
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0;
        }
        @include media(tel) {
          flex-direction: column;
          flex: 0 0 100%;
        }
        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
          flex: 0 0 48%;
          margin-bottom: 10px;
          border: 1px solid #C4C4C4;
          border-radius: 16px;
          &:first-of-type {
            @include media(tablet_vert) {
              margin-right: 9px;
            }
          }
          @include media(tel) {
            max-width: 100%;
            height: auto;
            margin-bottom: 8px;
          }
        }
        @include media(tablet_vert) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img {
            flex: 0 0 50%;
            height: auto;
          }
        }
      }
    }
  }

  /*table*/
  table {
    font-size: 14px;
    color: #454545;
    text-align: center;
    max-width: 565px;
    @include media(tablet_vert) {
      font-size: 12px;
    }
    @include media(tel) {
      font-size: 10px;
    }

    tr {
      &:first-of-type {
        background: #BE2A2A;
        color: #fff;
      }

      &:nth-of-type(4n) {
        background: #F0F0F0;
      }
    }
  }


  /*feed*/
  .feed {
    background: url(/wp-content/themes/balcity-ru/assets/img/feedbg.svg), #F0F0F0;
    border-radius: 8px;
    padding: 32px 47px 114px 34px;
    margin-bottom: 122px;
    @include media(tel) {
      padding: 30px 0 107px 0;
      margin-bottom: 60px;
    }

    .feed__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 110%;
      color: #454545;
      margin-bottom: 36px;
      position: relative;
      @include media(tablet_vert) {
        text-align: center;
        font-size: 18px;
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 200px;
      color: #848484;
      @include media(tablet_vert) {
        height: auto;
        align-items: center;
        flex-direction: row;
        justify-content: center;
      }

      p {
        width: 50%;
        @include media(tablet_vert) {
          flex: 0 0 387px;
        }
        @include media(tel) {
          flex: 0 0 290px;
          width: 290px;
        }

        textarea {
          background: #FFFFFF;
          max-width: 516px;
          height: 151px;
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          font-size: 18px;
          line-height: 21px;
          color: #848484;
          @include media(tablet_vert) {
            flex: 0 0 387px;
          }
          @include media(tel) {
            flex: 0 0 290px;
            font-size: 14px;
            line-height: 16px;
          }
        }

        span {
          display: flex;

          input[type=text], input[type=email] {
            background: #FFFFFF;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            height: 50px;
            flex: 0 1 90%;
            margin-bottom: 23px;
            @include media(tablet_vert) {
              flex: 0 0 387px;
            }
            @include media(tel) {
              flex: 0 0 290px;
              width: 290px;
              height: 40px;
            }
          }
        }

        &:last-of-type {
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 32px;
          width: 150px;
          height: 40px;

          input {
            background: url(/wp-content/themes/balcity-ru/assets/img/send.svg), #79C089;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 10px;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
            width: 100%;
            padding-left: 32px;
            border: none;
          }
        }
      }
    }
  }
  /*contacts*/
  .contacts {
    .contacts__title {
      margin-top: 21px;
      margin-bottom: 57px;
      @include media(tablet) {
        margin-bottom: 51px;
      }
      @include media(tablet_vert) {
        margin-bottom: 36px;
      }
      @include media(tel) {
        margin-bottom: 19px;
      }
    }
    .contacts__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 63px;
      @include media(tablet) {
        margin-bottom: 51px;
      }
      @include media(tablet_vert) {
        margin-bottom: 36px;
        flex-wrap: wrap;
      }
      @include media(tel) {
        margin-bottom: 19px;
      }
      .contacts__info {
        flex: 0 0 35%;
        @include media(tablet_vert) {
          flex: 0 0 100%;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            padding: 0;
            margin-bottom: 30px;
            b, a {
              display: block;
            }
          }
        }
      }
      .contacts__map {
        flex: 0 0 60%;
        @include media(tablet_vert) {
          flex: 0 0 100%;
        }
      }
    }
  }
}
#menu-menyu-vybora-yazyka .sub-menu.active {
  display: flex;
}