@import 'global/_responsive.scss';
.slider {
  height: 760px;
  width: 100%;
  overflow: hidden;
  position: relative;
  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  @include media(tablet) {
    height: 620px;
  }
  @include media(tablet_vert) {
    height: 480px;
  }
  @include media(tel) {
    height: 320px;
  }
  .slider__item {
    width: 100%;
    height: 760px;
    @include media(tablet) {
      height: 620px;
    }
    @include media(tablet_vert) {
      height: 480px;
    }
    @include media(tel) {
      height: 320px;
    }
    .item__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 216px;
      align-items: flex-end;
      @include media(tablet) {
        padding-top: 150px;
      }
      @include media(tablet_vert) {
        padding-top: 108px;
      }
      @include media(tel) {
        padding-top: 101px;
      }
      .item__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 110%;
        color: #454545;
        max-width: 896px;
        text-align: right;
        @include media(tablet) {
          font-size: 64px;
          max-width: 770px;
        }
        @include media(tablet_vert) {
          font-size: 48px;
          max-width: 607px;
        }
        @include media(tel) {
          font-size: 24px;
          max-width: 245px;
        }
      }
      .item__text {
        margin-top: 17px;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #454545;
        max-width: 565px;
        @include media(tablet) {
          font-size: 20px;
          line-height: 24px;
          max-width: 420px;
        }
        @include media(tablet_vert) {
          font-size: 16px;
          line-height: 20px;
        }
        @include media(tel) {
          font-size: 12px;
          line-height: 14px;
          margin-top: 7px;
          max-width: 250px;
        }
      }
    }
  }
  .slider__dots {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 228px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    @include media(tablet) {
      bottom: 173px;
    }
    @include media(tablet_vert) {
      bottom: 173px;
    }
    @include media(tablet_vert) {
      bottom: 48px;
    }
    li {
      margin-left: 23px;
      @include media(tablet_vert) {
        margin-left: 13px;
      }
      @include media(tablet_vert) {
        margin-left: 10px;
      }
      button {
        background: #ffffff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #fff;
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
        padding: 0;
        @include media(tablet_vert) {
          width: 18px;
          height: 18px;
        }
        @include media(tel) {
          width: 14px;
          height: 14px;
        }
      }
      &.slick-active {
        button {
          background: #be2a2a;
          color: #be2a2a;
          cursor: inherit;
        }
      }
    }
  }
}

.catalog {
  width: 100%;
  background: url(/wp-content/themes/balcity-ru/assets/img/bg-catalog.webp) left,
    url(/wp-content/themes/balcity-ru/assets/img/bg-catalog2.webp) right, #be2a2a;
  background-size: contain;
  background-repeat: no-repeat;
  height: 169px;
  @include media(tablet) {
    height: 140px;
  }
  @include media(tablet_vert) {
    height: auto;
  }
  @include media(tel) {
    padding-left: 20px;
    padding-right: 20px;
    background: url(/wp-content/themes/balcity-ru/assets/img/bg-catalog.webp) bottom,
      url(/wp-content/themes/balcity-ru/assets/img/bg-catalog2.webp) top, #be2a2a;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
    @include media(tablet_vert) {
      flex-wrap: wrap;
      padding-bottom: 16px;
    }
    @include media(tel) {
      justify-content: center;
    }
    .catalog__item {
      margin-top: -17px;
      flex: 0 0 262px;
      height: 160px;
      padding: 15px 26px 26px 11px;
      background-color: #fff;
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
      border-radius: 8px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
      background-image: url(/wp-content/themes/balcity-ru/assets/img/tanks-bg.webp);
      @include media(tablet) {
        flex: 0 0 232px;
        height: 131px;
        padding: 14px 22px 18px 20px;
      }
      @include media(tablet_vert) {
        flex: 0 0 368px;
        height: 141px;
        background-position: center 300%;
      }
      @include media(tel_min) {
        flex: 1 0 289px;
      }
      &:nth-child(2) {
        background-image: url(/wp-content/themes/balcity-ru/assets/img/cylinders-bg.webp);
        background-position: right;
        background-repeat: no-repeat;
        @include media(tablet_vert) {
          background-size: 70%;
        }
        @include media(tel_min) {
          margin-top: 10px;
        }
        .item__img {
          top: 58px;
          @include media(tablet) {
            width: 110px;
            height: 71px;
            top: 51px;
          }
        }
      }
      &:nth-child(3) {
        background-image: url(/wp-content/themes/balcity-ru/assets/img/gasbg.webp);
        background-position: right;
        background-repeat: no-repeat;
        @include media(tablet_vert) {
          margin-top: 10px;
          background-size: 73%;
          background-position: 110% 70%;
        }
        .item__img {
          top: 58px;
          @include media(tablet) {
            width: 145px;
            height: 91px;
            top: 40px;
          }
        }
      }
      &:nth-child(4) {
        background-image: url(/wp-content/themes/balcity-ru/assets/img/arm-bg.webp);
        background-position: right;
        background-repeat: no-repeat;
        @include media(tablet_vert) {
          margin-top: 10px;
          background-size: 73%;
          background-position: 110% 80%;
        }
        .item__img {
          top: 42px;
          @include media(tablet) {
            width: 77px;
            height: 90px;
            top: 32px;
          }
        }
      }
      .item__title {
        font-weight: bold;
        font-size: 24px;
        color: #454545;
        text-align: right;
        max-width: 188px;
        @include media(tablet) {
          font-size: 18px;
          max-width: 156px;
        }
        @include media(tablet) {
          font-size: 24px;
          max-width: 100%;
        }
        @include media(tel) {
          font-size: 18px;
        }
      }
      .item__img {
        position: absolute;
        top: 15px;
        left: 11px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        @include media(tablet) {
          width: 63px;
          height: 104px;
        }
      }
      .item__link {
        display: block;
        width: 96px;
        height: 27px;
        text-decoration: none;
        background: #79c089;
        border-radius: 5px;
        display: flex;
        font-size: 14px;
        color: #ffffff;
        z-index: 2;
        position: relative;
        padding-left: 19px;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #5fa870;
        }
        &:focus {
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
        }
        @include media(tablet) {
          width: 86px;
          height: 18px;
          font-size: 12px;
          padding-left: 17px;
        }
        &:before {
          content: '';
          position: absolute;
          left: 10px;
          width: 10px;
          height: 10px;
          background: url(/wp-content/themes/balcity-ru/assets/img/gonext.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          @include media(tablet) {
            width: 7px;
            height: 7px;
          }
        }
      }
    }
  }
}
.quality {
  display: flex;
  padding-top: 35px;
  align-items: center;
  @include media(tel) {
    flex-direction: column;
  }
  .quality__img {
    margin-right: 50px;
    @include media(tablet) {
      margin-right: 43px;
      margin-left: 10px;
    }
    @include media(tablet_vert) {
      margin-right: 30px;
    }
    @include media(tel) {
      margin: 20px 0 13px 0;
    }
  }
  .quality__text {
    font-size: 18px;
    line-height: 21px;
    color: #454545;
    @include media(tablet) {
      font-size: 14px;
      line-height: 16px;
    }
    p {
      margin-bottom: 14px;
    }
    a {
      color: #be2a2a;
    }
  }
}

.choose {
  padding: 40px 0 46px;
  &.container {
    @include media(tel) {
      margin-top: 25px;
    }
  }
  .choose__title {
    font-weight: 900;
    font-size: 36px;
    color: #454545;
    position: relative;
    @include media(tablet) {
      font-size: 24px;
    }
    @include media(tablet_vert) {
      font-size: 18px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 6px;
      background: #be2a2a;
      bottom: -6px;
      left: 0;
      @include media(tablet) {
        width: 49px;
        height: 4px;
      }
      @include media(tablet) {
        width: 36px;
        height: 4px;
      }
    }
  }
  .choose__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 64px 0 27px 0;
    padding: 0;
    @include media(tel) {
      flex-direction: column;
      align-items: flex-end;
    }
    .choose__item {
      &:nth-child(2) {
        @include media(tel) {
          align-self: flex-start;
        }
      }
      .item__img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }
  }
  .choose__text {
    font-size: 18px;
    line-height: 21px;
    color: #454545;
  }
}
.goods {
  overflow: hidden;
  width: 100%;
  height: 680px;
  position: relative;
  margin-bottom: 40px;
  @include media(tablet) {
    height: 478px;
  }
  @include media(tablet_vert) {
    height: 366px;
  }
  @include media(tel) {
    height: auto;
    background: url(/wp-content/themes/balcity-ru/assets/img/mobgoods.svg) no-repeat center, #415560;
    background-size: cover;
    padding-bottom: 38px;
    margin-top: 24px;
  }
  .goods__video {
    object-fit: cover;
    width: 100%;
    @include media(tel) {
      display: none;
    }
  }
  .goods__title {
    height: 82px;
    width: 45%;
    background: #be2a2a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
    top: 118px;
    @include media(tablet) {
      width: 347px;
      font-size: 24px;
      top: 51px;
      height: 66px;
      padding-right: 34px;
    }
    @include media(tel) {
      position: inherit;
      width: 243px;
      height: 45px;
      font-size: 18px;
      padding: 0;
      top: 0;
      margin-top: 21px;
      justify-content: center;
    }
  }
  .goods__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    margin: auto;
    z-index: 3;
    @include media(tel) {
      position: inherit;
      flex-direction: column;
      top: 0;
      margin-top: 48px;
    }
    .goods__item {
      flex: 0 0 238px;
      @include media(tablet_vert) {
        flex: 0 0 178px;
      }
      @include media(tel) {
        width: 100%;
        text-align: center;
        flex: 0 0 auto !important;
        margin-bottom: 33px;
      }
      &:nth-child(2) {
        flex: 0 0 129px;
      }
      &:nth-child(3) {
        flex: 0 0 255px;
        @include media(tablet) {
          flex: 0 0 205px;
        }
      }
      &:nth-child(4) {
        flex: 0 0 170px;
      }
      .item__count {
        font-weight: 900;
        font-size: 72px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-bottom: 16px;
        @include media(tablet) {
          font-size: 48px;
          margin-bottom: 22px;
        }
        &:before {
          content: '';
          position: absolute;
          height: 6px;
          width: 70px;
          bottom: -9px;
          background: #be2a2a;
          left: 10px;
          @include media(tablet_vert) {
            left: 3px;
          }
          @include media(tel) {
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
        span {
          font-size: 48px;
          @include media(tablet) {
            font-size: 24px;
          }
        }
      }
      .item__text {
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 10px;
      }
    }
  }
}

.about {
  position: relative;
  &.container {
    padding: 59px 0 60px;
    @include media(tel) {
      overflow: hidden;
      padding: 49px 0 40px;
    }
  }
  .about__vision,
  .about__mission {
    width: 548px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 255px;
    align-items: center;
    padding: 30px 8px 40px 8px;
    background: #f0f0f0;
    position: relative;
    @include media(tablet) {
      height: 177px;
      width: 640px;
    }
    @include media(tablet_vert) {
      height: 190px;
      width: 510px;
    }
    @include media(tel) {
      margin-left: auto;
      margin-right: 0;
      height: 266px;
      width: 75%;
    }
    &:before {
      content: '';
      position: absolute;
      background: #f0f0f0;
      top: 0;
      left: -100px;
      width: 667px;
      height: 100%;
      transform: skewX(-8deg);
      border-radius: 8px;
      @include media(tablet) {
        width: 755px;
      }
      @include media(tablet_vert) {
        width: 629px;
        left: -110px;
      }
      @include media(tel) {
        width: 100%;
        left: -50px;
      }
    }
    .vision__title,
    .mission__title {
      font-size: 30px;
      text-transform: uppercase;
      color: #454545;
      margin-bottom: 17px;
      flex: 0 0 486px;
      text-align: left;
      @include media(tablet) {
        font-size: 24px;
        margin-bottom: 12px;
      }
      @include media(tel) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
    .vision__text,
    .mission__text {
      flex: 0 0 406px;
      text-align: left;
      font-size: 18px;
      line-height: 21px;
      color: #454545;
      z-index: 2;
      @include media(tablet) {
        font-size: 14px;
        line-height: 16px;
      }
      @include media(tel) {
        flex: 0 0 100%;
        margin-top: 37px;
      }
    }
    .mission__text {
      @include media(tel) {
        flex: 0 0 80%;
      }
    }
  }
  .about__mission {
    margin-top: 26px;
    @include media(tablet) {
      justify-content: flex-start;
    }
    @include media(tel) {
      margin-right: auto;
      margin-left: 0;
      align-items: flex-start;
    }
    &:before {
      width: 697px;
      left: -30px;
      @include media(tablet) {
        width: 665px;
      }
      @include media(tablet_vert) {
        width: 625px;
      }
      @include media(tel) {
        width: 100%;
        right: -30px;
        left: 0;
      }
    }
  }
  .about__lpg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    @include media(tablet) {
      width: 269px;
      height: 136px;
    }
    @include media(tablet_vert) {
      width: 203px;
      height: 102px;
    }
    @include media(tel) {
      width: 139px;
      height: 70px;
      top: 20px;
    }
  }
  .about__worker {
    right: 0;
    bottom: 0;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: 2;
    @include media(tablet) {
      width: 214px;
      height: 364px;
    }
    @include media(tablet_vert) {
      width: 184px;
      height: 314px;
      bottom: 60px;
    }
    @include media(tel) {
      width: 128px;
      height: 219px;
      bottom: 40px;
    }
  }
}
.advantage {
  &.container {
    padding: 65px 0 45px 0;
    @include media(tablet) {
      padding: 0 0 60px 0;
    }
  }
  .advantage__title {
    margin-bottom: 52px;
    @include media(tablet_vert) {
      margin-bottom: 36px;
    }
    @include media(tel) {
      margin-left: 15px;
    }
  }
  .advantage__wrapper {
    display: flex;
    @include media(tablet_vert) {
      flex-wrap: wrap;
    }
    @include media(tel) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .advantage__item {
      border-radius: 8px;
      padding: 33px;
      height: 400px;
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      @include media(tablet) {
        font-size: 14px;
        line-height: 16px;
        height: 337px;
      }
      @include media(tablet_vert) {
        padding: 33px 44px 38px 45px;
        flex: 0 0 100%;
        margin-right: 0;
        height: auto;
        margin-top: 5px;
      }
      @include media(tel) {
        padding: 33px 15px;
        margin-top: 10px;
      }
      &.tech {
        background: url(/wp-content/themes/balcity-ru/assets/img/tech.svg) no-repeat bottom
            right/268px,
          #f0f0f0;
        margin-top: 5px;
        color: #454545;
        margin-right: 5px;
        @include media(tablet) {
          background-size: 168px;
        }
        @include media(tablet_vert) {
          flex: 0 0 100%;
          margin-right: 0;
        }
      }

      &.eco {
        background: url(/wp-content/themes/balcity-ru/assets/img/eco.svg) no-repeat bottom
            right/263px,
          #79c089;
        flex: 0 0 400px;
        margin-top: 5px;
        @include media(tablet) {
          flex: 0 0 337px;
          background-size: 158px;
        }
        @include media(tablet_vert) {
          flex: 0 0 100%;
          margin-right: 0;
        }
      }
      &.exp {
        background: url(/wp-content/themes/balcity-ru/assets/img/exp.svg) no-repeat bottom
            right/201px,
          #be2a2a;
        flex: 0 0 400px;
        margin-right: 5px;
        @include media(tablet) {
          flex: 0 0 337px;
          background-size: 135px;
        }
        @include media(tablet_vert) {
          flex: 0 0 100%;
          margin-right: 0;
        }
      }
      &.iso {
        background: url(/wp-content/themes/balcity-ru/assets/img/iso.svg) no-repeat bottom
            right/229px,
          #415560;
        flex: 0 1 auto;
        @include media(tablet) {
          background-size: 166px;
        }
        @include media(tablet_vert) {
          flex: 0 0 100%;
          margin-right: 0;
        }
      }
      .item__title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 27px;
        @include media(tablet) {
          font-size: 24px;
          margin-bottom: 32px;
        }
      }
    }
  }
}
/*title*/
.title {
  font-weight: 900;
  font-size: 36px;
  color: #454545;
  position: relative;
  @include media(tablet) {
    font-size: 24px;
  }
  @include media(tablet_vert) {
    font-size: 18px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 6px;
    background: #be2a2a;
    bottom: -6px;
    left: 0;
    @include media(tablet) {
      width: 49px;
      height: 4px;
    }
    @include media(tablet) {
      width: 36px;
      height: 4px;
    }
  }
}
/*slick*/
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  bottom: 0;
}
