.footer {
  background: url(/wp-content/themes/balcity-ru/assets/img/footerbg.svg) no-repeat, #415560;
  background-size: cover;
  padding: 33px 0 106px 0;
  @include media(tablet_vert) {
    padding-bottom: 73px;
  }
  @include media(tel) {
    padding-bottom: 59px;
  }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    @include media(tablet_vert) {
      flex-direction: column;
      align-items: center;
    }
    .footer__logo {
      margin-right: 62px;
      @include media(tablet_vert) {
        margin-right: 0;
        width: 96px;
        height: 40px;
      }
    }
    .footer__menu {
      flex-grow: 1;
      @include media(tablet_vert) {
        order: 1;
        flex: 0 0 100%;
        margin-top: 32px;
      }
      @include media(tel) {
        margin-top: 0;
      }
      .menu__list {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        list-style: none;
        @include media(tablet_vert) {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        @include media(tel) {
          justify-content: center;
        }
        .menu__item {
          @include media(tablet_vert) {
            flex: 0 0 25%;
            text-align: center;
          }
          @include media(tel) {
            flex: 0 0 100%;
            margin-top: 30px;
          }
          &:nth-child(n+5) {
            @include media(tablet_vert) {
            flex: 0 0 30%;
            margin-top: 30px;
            }
            @include media(tel) {
              flex: 0 0 100%;
              justify-content: center;
            }
          }
          &:nth-child(5n) {
            @include media(tablet_vert) {
              text-align: right;
            }
            @include media(tel) {
              text-align: center;
            }
          }
          &:nth-child(7n) {
            @include media(tablet_vert) {
              text-align: left;
            }
            @include media(tel) {
              text-align: center;
            }
          }
          .item__link {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .footer__contact {
      flex: 0 0 100%;
      margin-top: 35px;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      .contact__address {
        position: relative;
        max-width: 255px;
        @include media(tablet_vert) {
          max-width: 100%;
        }
        @include media(tel) {
          max-width: 250px;
          text-align: center;
          margin-left: 20px;
        }
        &:before {
          content: " ";
          position: absolute;
          width: 13px;
          left: -21px;
          top: 0;
          height: 16px;
          background-image: url(/wp-content/themes/balcity-ru/assets/img/contact.svg);
          background-size: contain;
        }
      }
      .contact__tel {
        margin-top: 21px;
        position: relative;
        @include media(tablet_vert) {
          display: flex;
          justify-content: center;
          max-width: 251px;
          margin-left: 89px;
        }
        @include media(tel) {
          max-width: 251px;
          margin-left: 20px;
        }
        &:before {
          content: " ";
          position: absolute;
          width: 13px;
          left: -21px;
          top: 1px;
          height: 16px;
          background-image: url(/wp-content/themes/balcity-ru/assets/img/footertel.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
        .tel__item {
          margin-right: 5px;
        }
      }
    }
  }
  .footer__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background-color: rgba(160, 48, 36, .7);
    .footer__reserved {
      display: flex;
      align-items: center;
      color: #fff;
      height: 100%;
      font-size: 14px;
      @include media(tablet_vert) {
        justify-content: center;
      }
      @include media(tel) {
        justify-content: flex-start;
      }
    }
  }
}