.company{font-size:18px;line-height:21px;color:#454545}.company .company__title{margin:21px 0 40px}.company .company__wrapper .company__prod{background:url(/wp-content/themes/balcity-ru/assets/img/companybg.svg),#BE2A2A;color:#fff;display:flex;font-weight:500;justify-content:space-between;align-items:center;margin-bottom:42px}.company .company__wrapper .company__prod .prod__img{height:auto;flex:0 1 auto}.company .company__wrapper .company__prod .prod__img img{display:block}.company .company__wrapper .company__prod .prod__text{padding-right:21px;max-width:566px}.company__standart.container{padding:30px 40px 35px 30px;background:#F0F0F0;margin-top:24px;margin-bottom:30px;display:flex;align-items:center;justify-content:center}.company__standart.container img{flex:0 0 326px;height:auto;display:block;margin-right:50px}.company__text--down.container{margin-bottom:72px}.cert{font-size:18px;line-height:21px}.cert .cert__title{margin:21px 0 40px}.cert .cert__info{background:url(/wp-content/themes/balcity-ru/assets/img/cert-bg.svg),#BE2A2A;padding:28px 33px 33px 0;margin-bottom:51px;display:flex;justify-content:space-between;align-items:center}.cert .cert__info .cert__text{max-width:576px;color:#FFFFFF;font-weight:500;flex:0 0 50%}.cert .cert__info .cert__img{flex:0 0 50%;display:flex;justify-content:center;align-items:center}.cert .cert__info .cert__img img{max-width:100%;max-height:100%;display:block;margin-right:120px}.cert .cert__menu{margin-top:25px;margin-bottom:40px}.cert .cert__menu .menu__list{display:flex;padding:0}.cert .cert__menu .menu__list .menu__item{margin-right:30px;background-color:#C0C0C0;color:#fff;display:flex;align-items:center;justify-content:center;border-radius:5px;padding:7px 15px 7px 18px;font-size:14px;position:relative}.cert .cert__menu .menu__list .menu__item:before{content:" ";background:url(/wp-content/themes/balcity-ru/assets/img/cert-all.svg);width:14px;height:14px;margin-right:10px;background-size:contain}.cert .cert__menu .menu__list .menu__item.active{background-color:#BE2A2A}.cert .cert__menu .menu__list .menu__item:nth-child(2):before{content:" ";background:url(/wp-content/themes/balcity-ru/assets/img/ts-white.svg);width:21px;height:17px;background-size:contain}.cert .cert__menu .menu__list .menu__item:last-child{margin-right:0}.cert .cert__menu .menu__list .menu__item:last-child:before{content:" ";background:url(/wp-content/themes/balcity-ru/assets/img/oon-white.svg);width:17px;height:17px;background-size:contain}.cert__wrapper .cert__item:nth-child(even){background-color:#f0f0f0}.cert__wrapper .cert__item .container .item__title{margin-bottom:30px}.cert__wrapper .cert__item .container .item__text{display:flex;justify-content:space-between;flex-wrap:wrap}.cert__wrapper .cert__item .container .item__text a{flex:0 0 50%;position:relative;padding-left:48px;margin-bottom:28px;font-size:18px;text-decoration-line:underline;color:#BE2A2A}.cert__wrapper .cert__item .container .item__text a:before{content:'';background:url(/wp-content/themes/balcity-ru/assets/img/pdf-file.svg);width:32px;height:32px;position:absolute;left:0;top:-4px;background-size:contain}.inner .container .catalog__item .item__img{flex:0 0 50%}
.cert .cert__menu .menu__list .menu__item a { text-decoration: none; color: #fff;}
.inner .gallery__wrapper { margin-bottom: 40px;}
.inner .container .catalog__item div.item__text a[href*=oficzialnoe-utverzhdenie-eek-oon]:before, .inner .container .catalog__item div.item__text a[href*=oon]:before, .inner .container .catalog__item div.item__text a.oon:before {
    content: '';
    position: absolute;
    left: 0;
    background: url(/wp-content/themes/balcity-ru/assets/img/oonc.svg) 0 0/contain no-repeat;
    width: 30px;
    height: 30px;
}
.inner section.products {
    margin-bottom: 160px;
}
.inner .container .catalog__item div.item__text a[href*=sertifikaty-tamozhennogo-soyuza]:before, .inner .container .catalog__item div.item__text a[href*=tamogsouz]:before  {
    content: '';
    position: absolute;
    left: 0;
    background: url(/wp-content/themes/balcity-ru/assets/img/ts.svg) 0 0/contain no-repeat;
    width: 31px;
    height: 25px;  
}
.inner .container .catalog__item div.item__text a.oon, .inner .container .catalog__item div.item__text a.ts {
    font-size: 18px;
    line-height: 200%;
    text-decoration-line: underline;
    color: #BE2A2A;
    padding-left: 41px;
    margin-bottom: 12px;
    display: block;
    max-width: fit-content;
}
p {
    margin-bottom: 12px;
}
.gallery__wrapper.mobile {
    display: none;
}
.header__lang .item__link img {
    margin-bottom: -3px!important;
    width: 21px!important;
    height: 14px!important;
}
#menu-menyu-vybora-yazyka .sub-menu.active {
    width: 48px!important;
    height: 46px!important;
    left: -4px;
}
.advantage .advantage__wrapper .advantage__item .item__title {
    line-height: 38px;
}
.inner .container .catalog__item .item__img img {
    max-height: none!important;
}
@media only screen and (max-width: 1279px) {
    .inner section.products {
        margin-bottom: 20px;
    }
    .gallery__wrapper.mobile {
        display: block;
    }
    .gallery__wrapper.desc {
        display: none;
    }
    .advantage .advantage__wrapper .advantage__item .item__title {
        line-height: 28px;
    }
}
@media only screen and (max-width: 767px) {

    .footer .footer__wrapper .footer__contact div.contact__address:before {
        left: -11px;
    }
    .advantage .advantage__wrapper .advantage__item .item__title {
        line-height: 38px;
    }
    .inner .container .catalog__item .item__img img:first-of-type {
        margin-right: 0!important;
        margin-bottom: 25px;
    }
    .inner .container .catalog__item .item__text {
        margin-top: 60px!important;
    }

    .inner table {
        max-width: 300px!important;
        overflow: scroll;
    }
    .inner section.products {
        margin-bottom: 20px;
    }
    .inner .container .catalog__item:nth-child(even) div.item__img {
        margin-bottom: 85px;
    }
}

/*# sourceMappingURL=temp.css.map */
