.company {
    font-size: 18px;
    line-height: 21px;
    color: #454545;
    // @include media(tablet) {
    //     font-size: 14px;
    //     line-height: 16px;
    // }
   .company__title {
       margin: 21px 0 40px;
   } 
  .company__wrapper {
      .company__prod {
        background: url(/wp-content/themes/balcity-ru/assets/img/companybg.svg), #BE2A2A;
        color: #fff;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 42px;
        .prod__img {
            height: auto;
            flex: 0 1 auto;
            img {
                display: block;
            }
        }
        .prod__text {
            padding-right: 21px;
            max-width: 566px;
        }
      }
  }
}
.company__standart.container {
    padding: 30px 40px 35px 30px;
    background: #F0F0F0;
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        flex: 0 0 326px;
        height: auto;
        display: block;
        margin-right: 50px;
    }
}
.company__text--down.container {
    margin-bottom: 72px;
}

/*cert*/
.cert {
    font-size: 18px;
    line-height: 21px;
    .cert__title {
        margin: 21px 0 40px;
    }
    .cert__info {
        background: url(/wp-content/themes/balcity-ru/assets/img/cert-bg.svg),#BE2A2A;
        padding: 28px 33px 33px 0;
        margin-bottom: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cert__text {
            max-width: 576px;
            color: #FFFFFF;
            font-weight: 500;
            flex: 0 0 50%;
        }
        .cert__img {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin-right: 120px;
            }
        }
    }
    .cert__menu {
        margin-top: 25px;
        margin-bottom: 40px;
        .menu__list {
            display: flex;
            padding: 0;
            .menu__item {
                margin-right: 30px;
                background-color: #C0C0C0;  
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                padding: 7px 15px 7px 18px;
                font-size: 14px;
                position: relative;
                &:before {
                    content: " ";
                    background: url(/wp-content/themes/balcity-ru/assets/img/cert-all.svg);
                    width: 14px;
                    height: 14px;
                    margin-right: 10px;
                    background-size: contain;
                }   
                &.active {
                    background-color: #BE2A2A;
                }
                &:nth-child(2) {
                    &:before {
                        content: " ";
                        background: url(/wp-content/themes/balcity-ru/assets/img/ts-white.svg);
                        width: 21px;
                        height: 17px;
                        background-size: contain;
                    } 
                }
                &:last-child {
                    margin-right: 0;
                    &:before {
                        content: " ";
                        background: url(/wp-content/themes/balcity-ru/assets/img/oon-white.svg);
                        width: 17px;
                        height: 17px;
                        background-size: contain;
                    } 
                }
            }
        }  
    }
}
.cert__wrapper {
    
        .cert__item {
            &:nth-child(even) {
                background-color: #f0f0f0;
            }
        
        .container {
        .item__title {
            margin-bottom: 30px;
        }
        .item__text {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
                flex: 0 0 50%;
                position: relative;
                padding-left: 48px;
                margin-bottom: 28px;
                font-size: 18px;
                text-decoration-line: underline;
                color: #BE2A2A;
                &:before {
                    content: '';
                    background: url(/wp-content/themes/balcity-ru/assets/img/pdf-file.svg);
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    top: -4px;
                    background-size: contain;
                }
            }
        }
    }
}
}
.inner .container .catalog__item .item__img {
    flex: 0 0 50%;
}