<footer class="footer">
    <div class="footer__wrapper container">
        <img src="/img/logo.svg" alt="" class="footer__logo">
        <nav class="footer__menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="item__link">Компания</a></li>
                <li class="menu__item"><a href="#" class="item__link">Продукция</a></li>
                <li class="menu__item"><a href="#" class="item__link">Сертификаты</a></li>
                <li class="menu__item"><a href="#" class="item__link">Галерея</a></li>
                <li class="menu__item"><a href="#" class="item__link">Новости</a></li>
                <li class="menu__item"><a href="#" class="item__link">Наши партнеры</a></li>
                <li class="menu__item"><a href="#" class="item__link">Контакты</a></li>
            </ul>
        </nav>
        <div class="footer__contact">
            <div class="contact__address">
                119071, Россия, г. Москва,
                Ленинский проспект, д. 29, офис №628
            </div>
            <div class="contact__tel">
                <div class="tel__item">
                    +7(495) 955-43-77
                </div>
                <div class="tel__item">
                    +7(495) 640-17-86
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__reserved container">
            © Балсити™ 2021. All Rights Reserved
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>