<header class="header">
    <div class="header__wrapper container">
            <a href="#" class="header__logo">
                <img src="/img/logo.svg" alt="" class="logo__img">
            </a>
        <div class="header__inner">
            <div class="header__contacts">
                <a class="header__address">
                    <span class="address__link">Москва, Ленинский проспект, д. 29, офис №628</span>
                    <span class="address__link-mobile"><span class="red">Я</span>ндекс карты</span>
                </a>
                <a href="" class="header__tel">
                    +7(495) 955-43-77
                </a>
                <div class="header__lang">RU</div>
                <div class="header__burger"></div>
            </div>
            <nav class="header__menu">
                <div class="header__call">
                    <a href="" class="call__number">+7(495) 955-43-77</a>
                    <a href="" class="call__button">Позвонить</a>
                </div>
                <div class="menu__close"></div>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="item__link">
                        Компания
                        </a>
                        <nav class="menu__submenu">
                            <ul class="submenu__list">
                                <li class="submenu__item"><a href="" class="item__link">История</a></li>
                                <li class="submenu__item"><a href="" class="item__link">Миссия и видение</a></li>
                                <li class="submenu__item"><a href="" class="item__link">Политика в области качества</a></li>
                                <li class="submenu__item"><a href="" class="item__link">Сертификаты</a></li>
                                <li class="submenu__item"><a href="" class="item__link">Вакансии</a></li>
                            </ul>
                        </nav>
                    </li>
                    <li class="menu__item"><a href="" class="item__link">
                        Продукция
                    </a></li>
                    <li class="menu__item"><a href="" class="item__link">
                        Сертификаты
                    </a></li>
                    <li class="menu__item"><a href="" class="item__link">
                        Галерея
                    </a></li>
                    <li class="menu__item"><a href="" class="item__link">
                        Новости
                    </a></li>
                    <li class="menu__item"><a href="" class="item__link">
                        Наши партнеры
                    </a></li>
                    <li class="menu__item"><a href="" class="item__link">
                        Контакты
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
