<div class="breadcrumbs">
    <div class="breadcrumbs__wrapper container">

    </div>
</div>
<section class="news container">
    <h1 class="news__title title__head">
        Новости
    </h1>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque distinctio earum eius est ex illum iusto maxime mollitia nesciunt officiis perferendis, possimus similique soluta temporibus. Alias architecto asperiores atque commodi consequatur deserunt, excepturi fugit inventore nisi nulla, numquam voluptatum?
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos placeat praesentium quod suscipit tempore! Aut autem corporis, eius eveniet libero magnam obcaecati possimus repudiandae sed temporibus. Aliquam dignissimos inventore, iste, minus obcaecati officia porro quae quisquam, temporibus tenetur totam voluptatum.
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum dolor dolorem dolores dolorum facilis fuga, itaque nihil numquam, odio officiis optio perspiciatis, provident reiciendis ullam voluptates! Accusantium adipisci aperiam asperiores aspernatur aut autem beatae consectetur, est inventore provident!
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur assumenda atque consectetur, consequuntur cupiditate ducimus et ex fuga impedit in molestias mollitia nam natus numquam odio optio quaerat quas qui quia reiciendis sint tempora tempore ullam veniam veritatis!
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
    <div class="news__item">
        <h2 class="item__title">text title</h2>
        <div class="item__text">
            lorem40
        </div>
    </div>
</section>