<div class="breadcrumbs">
    <div class="breadcrumbs__wrapper container">

    </div>
</div>
<section class="products container">
    <h1 class="products__title title__head">
        Продукция
    </h1>
    <div class="products__wrapper">
        <div class="products__item">
            <h2 class="item__title">Бытовые
                баллоны</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">
                Автомобильные баллоны
            </h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">Газгольдеры</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">Запорные вентили
                для газа</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">Вентили
                для кислорода</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">Баллоны для погрузчика</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
        <div class="products__item">
            <h2 class="item__title">Другая продукция</h2>
            <a href="" class="item__link">подробнее</a>
        </div>
    </div>

</section>