<section class="slider">
    <div class="slider__item" style="background: url(/img/slide-1.jpg);background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="item__info container">
            <h2 class="item__title">
                Экологичный
                и безопасный
            </h2>
            <div class="item__text">
                «Балсити» — признанный лидер на российском рынке автомобильных баллонов для сжиженного углеводородного газа
            </div>
        </div>
    </div>
    <div class="slider__item" style="background: url(/img/slide-2.png);background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="item__info container">
            <h2 class="item__title">
                Ваш поставщик
                решений для сжиженного
                углеводородного газа
            </h2>
            <div class="item__text"></div>
        </div>
    </div>
    <div class="slider__item" style="background: url(/img/slide-4.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="item__info container">
            <h2 class="item__title">
                Сделано с любовью
                в России
            </h2>
            <div class="item__text"></div>
        </div>
    </div>
</section>
<section class="catalog">
    <div class="catalog__wrapper container">
        <div class="catalog__item">
            <h3 class="item__title">
                Бытовые
                баллоны
            </h3>
            <img src="/img/tanks.webp" alt="" class="item__img">
            <a href="" class="item__link">
                в каталог
            </a>
        </div>
        <div class="catalog__item">
            <h3 class="item__title">
                Автомобильные
                баллоны
            </h3>
            <img src="/img/cylinders.webp" alt="" class="item__img">
            <a href="" class="item__link">
                в каталог
            </a>
        </div>
        <div class="catalog__item">
            <h3 class="item__title">
                Газгольдеры
            </h3>
            <img src="/img/gas.webp" alt="" class="item__img">
            <a href="" class="item__link">
                в каталог
            </a>
        </div>
        <div class="catalog__item">
            <h3 class="item__title">
                Запорные
                вентили
            </h3>
            <img src="/img/arm.webp" alt="" class="item__img">
            <a href="" class="item__link">
                в каталог
            </a>
        </div>
    </div>
</section>