@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  width: auto;
  @include media(tablet) {
    max-width: 961px;
  }
  @include media(tablet_vert) {
    max-width: 746px;
  }
  @include media(tel_min) {
    max-width: 680px;
    padding: 0 15px;
  }
}
.title__head {
  font-weight: 900;
  font-size: 48px;
  color: #454545;
  line-height: 110%;
  color: #454545;
  @include media(tablet) {
    font-size: 40px;
  }
  @include media(tablet_vert) {
    font-size: 30px;
  }
  @include media(tel_min) {
    font-size: 24px;
  }
}